<ion-view title="WiGO">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">

        <span class="ion-android-notifications">0</span>

    </ion-nav-buttons>
    <ion-content padding="true" class="appcontent">
            <div class="row">
                <div class="square">
                    <div class="calhead">
                        {{ vm.WiService.DaysOfWeek[0]}}
                    </div>
                    <div>
                        testing
                    </div>

                </div>
                <div class="square">
                    <div>
                        {{ vm.WiService.DaysOfWeek[1]}}
                    </div>
                </div>
                <div class="square">
                    <div>
                        {{ vm.WiService.DaysOfWeek[2]}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="square">
                    <div>
                        {{ vm.WiService.DaysOfWeek[3]}}
                    </div>

                </div>
                <div class="square">
                    <div>
                        {{ vm.WiService.DaysOfWeek[4]}}
                    </div>
                </div>
                <div class="square">
                    <div>
                        {{ vm.WiService.DaysOfWeek[5]}}
                    </div>
                </div>
            </div>
        
    </ion-content>

    <button class="button button-float" ng-click="vm.SetitUp()">
        <i class="icon ion-plus"></i>
    </button>
</ion-view>
