<ion-view title="WiGO">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">

        <span class="ion-android-notifications">0</span>

    </ion-nav-buttons>
    <ion-content class="appcontent" padding="true">
        <div class="row">
            <div class="col col-67">
                <label class="item item-input appinput">
                    <div class="input-label">
                        Place
                    </div>
                    <input type="search" placeholder="Search" ng-model="vm.eventSelected.BusinessName" ng-change="vm.SearchHood()" />
                </label>
            </div>
            <div class="col col-20">
                <button class="button button-dark ion-loop" ng-click="vm.RandomizeHood()">
                    Randomize
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input item-select appinput">
                    <div class="input-label">
                        Hood
                    </div>
                    <select ng-model="vm.eventSelected.Neighborhood" ng-change="vm.SelectHood()" style="background: transparent">
                        <option ng-repeat="hoods in vm.listHoods">{{hoods}}</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">

            <div class="card col col-33 animated bounceInRight" ng-repeat="top in vm.toparea" ng-click="vm.EventSelect(top)">
                <div class="item item-text-wrap " ng-class="{'selectedPlace' : vm.eventSelected.BusinessName == top.BusinessName}">
                    <p class="text-left"> <span class="ion-ios-checkmark" style="color: #029302" ng-show="vm.eventSelected.BusinessName == top.BusinessName"></span></p>
                    <p class="text-center"> {{top.BusinessName}}</p>
                    <p class="text-center"> {{top.DESCRIPT}} </p>
                    <p class="text-right">Open Till:  {{top.ENDTIME}}</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input appinput">
                    <div class="input-label">
                        Address
                    </div>
                    <input type="text" value="{{vm.eventSelected.Address}}"  />
                </label>
            </div>
            </div>
        <div class="row">
            <div class="col">
                <label class="item item-input appinput">
                    <div class="input-label">
                        Event Type
                    </div>
                    <input type="search" placeholder="Search" ng-model="vm.eventSelected.DESCRIPT" ng-change="vm.SearchHood()" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <ion-slide-box does-continue="true" show-pager="false" on-slide-changed="vm.eventUserList.DateOfEvent = vm.DaysOfWeek[$index].Day;">
                    <ion-slide ng-repeat="dates in vm.DaysOfWeek">                     
                                <div class="text-center appcalader">
                                    <span class="ion-ios-calendar-outline"></span>
                                    {{dates.DayOfWeek}}
                                    <br>
                                    {{dates.Day}}
                        </div>

                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="col col-50">

                <label class="item item-input appinput">
                    <span class="input-label ion-clock"></span>
                    <input ng-model="vm.eventTimeConvert" type="time" ng-change="vm.eventSelected.timeOfEvent = vm.eventTimeConvert.getTime()" >
                </label>
            </div>

        </div>
        <div class="row" >

        </div>


    </ion-content>
    <button class="button button-float-left" ng-click="vm.EventFreinds()">
        <i class="icon ion-person-stalker"></i>
        <span class="badge badge-assertive">{{vm.eventFreinds.length}}</span>
    </button>
            <div class="tabs tabs-positive">
            <a class="tab-item">
                Cancel
            </a>
            <a class="tab-item" ng-click="vm.CreateEvent()" style="border-left: 3px solid white;" >
                Set It Up
            </a>
        </div>
</ion-view>
