<ion-view title="WiGO" ng-controller="SetItUpCtrl as vm">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">

        <span class="ion-android-notifications">0</span>

    </ion-nav-buttons>
    <ion-content   class="appcontent" padding="true"  ng-init="vm.RandomizeHood()">
        <ion-scroll direction="x" class="item wide-item" style="background-color: transparent !important; border: none; width:100%;">
            <div ng-repeat="top in vm.WiService.yelpLocations" class="item animated bounceInRight"  ng-click="vm.EventSelect(top)"
                   ng-class="{'selectedPlace' : vm.WiService.eventSelected.name == top.name}" style="height:130px; background-image: url({{top.image_url}}); background-repeat: no-repeat; background-size: cover;">

                    <p class="text-left" style="color: #FFFFFF"> <span class="ion-ios-star" style="color: rgb(251, 255, 32); position:fixed; top: 0; right: 3px; font-size:20px" ng-show="vm.WiService.eventSelected.name == top.name"></span></p>
  

                    <p  style="color: #FFFFFF"> {{top.name}}</p>
        
                  <p style="position: fixed; bottom:15px; left:0; color: #FFFFFF">{{top.review_count}} Reviews</p>
                   <img src="{{top.rating_img_url}}" style="position: fixed; bottom:0; left:0; ">
          
         
                    <p style="position: fixed; bottom:0; right:0; color: #FFFFFF"><span class="ion-android-pin" style="color:red"></span> {{top.distance}} mi</p>
          
                
            </div>
        </ion-scroll>

        <div class="list">
            <label class="item item-input setitin">
                <span class="input-label">Place</span>
                <input type="text"  ng-model="vm.WiService.eventSelected.name" ng-change="vm.YelpBusiness()">
            </label>
            <label class="item item-input setitin">
                <span class="input-label">Address</span>
                <input type="text"  value="{{vm.WiService.eventSelected.location.address[0]}}" >
            </label>
            <label class="item item-input setitin">
                <span class="input-label ion-clock"></span>
                <input ng-model="vm.WiService.eventTimeConvert" type="time" ng-change="vm.WiService.eventSelected.timeOfEvent = vm.WiService.eventTimeConvert.getTime()">
            </label>
        </div>

        <ion-scroll direction="x" class="item wide-item" style="background-color: transparent !important; border: none;width:100%;">
            <div ng-repeat="dates in vm.WiService.DaysOfWeek" class="item animated bounceInRight" ng-click="vm.WiService.eventUserList.DateOfEvent = dates.Day" style="background-color:transparent !important; border: none; height:230px;">
                <time datetime="2014-09-20" class="icon">
                    <em>{{dates.DayOfWeek}}</em>
                    <strong>{{dates.MonthName}}</strong>
                    <span>{{dates.Day}}</span>
                    </time>
</div>
        </ion-scroll>
        <div class="row" >

        </div>


    </ion-content>
    <button class="button button-float-left" ng-click="vm.EventFreinds()">
        <i class="icon ion-person-stalker"></i>
        <span class="badge badge-assertive">{{vm.WiService.eventFreinds.length}}</span>
    </button>
            <div class="tabs tabs-positive">
            <a class="tab-item">
                Cancel
            </a>
            <a class="tab-item" ng-click="vm.CreateEvent()" style="border-left: 3px solid white;" >
                Set It Up
            </a>
        </div>
</ion-view>
